Flask==3.0.3
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
pandas==2.2.3
SQLAlchemy==2.0.31
psycopg2-binary
Flask-Migrate~=4.0.7
Flask-Login~=0.6.3
Werkzeug~=3.0.3
email_validator~=2.2.0
alembic~=1.13.2
pydantic~=2.8.2
opencv-python~=4.10.0.84
numpy~=1.26.4
ultralytics~=8.0.195