<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shopping</title>
  <meta name="description" content="小兔鲜儿官网，致力于打造全球最大的食品、生鲜电商购物平台。">
  <meta name="keywords" content="小兔鲜儿,食品,生鲜,服装,家电,电商,购物">
  <style>
    
    .xtx-copyright {
  height: 10px; /* 设置为你想要的较小高度，单位可以是像素(px)或其他合适的单位 */
  background-color: #f5f5f5; /* 保留原有的背景颜色 */
  text-align: center; /* 可根据需要居中文字 */
  padding: 10px 0; /* 适当的上下内边距 */
}
    .banner img {
      width: 100%; /* 设置图片宽度为父元素宽度的100% */
      height: 50%; /* 根据宽度自动调整高度，保持图片比例 */
      max-height: 500px
    }
    .search {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
}

.search-icon {
  margin-left: 10px; /* 调整图标与输入框之间的间距 */
}
  
  </style>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<body>
  <!-- 头部模块-->
  <header>
    <!-- 快捷菜单模块-->
    <div class="xtx-shortcut">
      <div class="container"> 
        <ul class="fr">
          <li><a href="{{url_for('hello_world')}}">首页</a>|</li>
          <li><a href=""><i class="fas fa-shopping-cart"></i>购物车</a>|</li>
          <li><a href="">历史记录</a>|</li>
          <li><a href="">我的账户</a>|</li>
          <li><a href="">帮助中心</a>|</li>
          <li><a href=""></a></li> 
        </ul>
      </div>
    </div>
    <div class="xtx-new-goods container">
     <div class="goods-list">
        <ul>
          <li>
            <img src="{{ url_for('static', filename='image/1.jpg') }}" alt="">
            <h3>NVIDIA RTX4090 24G</h3>
            <p><span>￥</span> 16999</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/2.png') }}" alt="">
            <h3>ROG幻16 air笔记本电脑</h3>
            <p><span>￥</span> 13969</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/3.png') }}" alt="">
            <h3>ROG HYPERION 创世神机箱</h3>
            <p><span>￥</span> 3299</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/4.png') }}" alt="">
            <h3>ROG GT-AX11000 Pro</h3>
            <p><span>￥</span> 3499</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/dao.jpg') }}" alt="">
            <h3>冷钢 美国原装冷钢剑鱼刀</h3>
            <p><span>￥</span> 2310</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/gong.jpg') }}" alt="">
            <h3>TOPOINT ARCHERY 顶点 滑轮弓</h3>
            <p><span>￥</span> 8500</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/qin.jpg') }}" alt="">
            <h3>LiberLiveC1 融合伴奏吉他</h3>
            <p><span>￥</span> 129</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/diannao.jpg') }}" alt="">
            <h3>罗西机械智能手表</h3>
            <p><span>￥</span> 2399</p>
          </li>
          <li>
            <img src="{{ url_for('static', filename='image/yugan.jpg') }}" alt="">
            <h3>化氏一鸿 鱼竿</h3>
            <p><span>￥</span> 138</p>
          </li>

  
        </ul>
        
      </div>
    </div>




  <!-- #底部模块 -->
  <footer>
  
  </footer>
</body>
</html>